parameters:
    extensions:
        dibi: Dibi\Bridges\Nette\DibiExtension22
    database:
        host: localhost
        username: root
        password: toor6666
        database: collie
        lazy: TRUE
        profiler:
            run: false
            explain: true
            filter: DibiEvent::ALL
            file: log.sql 
